/* This file is used to style the homepage */
body{
    margin: 0;
    padding: 0;
}
/* Fix to the full screen background image */
.home-container{
    height: 100vh;
    background-image: url("Homepic.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* This Fix my Content on the Screen*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}